[submodule "output"]
	path = output
	url = git@github.com:Macroeconomics/Macroeconomics.github.io.git
[submodule "pelican-plugins"]
	url = git@github.com:Macroeconomics/pelican-plugins.git
	path = pelican-plugins
